.card{
    margin-bottom: 0.8rem;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}


.card-header h2, .card-body p {
    margin: 0;
}
